/.deps/
/config/
/aclocal.m4
*.o
*.lo
*.la
config.log
config.status
configure
libtool
/m4/
/autom4te.cache/
/Makefile
/Makefile.in
/test_spline
/com_boeing_jspline_DSPLINE.h
/.libs/
/spstrerror.c
/spstrerror.h
/com_pflager_gl.h
/com_pflager_glu.h
/com_pflager_glut.h
/libjglut.dll
/libjglut.so
/net_pflager_gles2_JNI.h
/Java_net_pflager_gles2_JNI.c
/Java_net_pflager_gl_JNI.c
/net_pflager_gl_JNI.h
/net_pflager_glExperimental_JNI.h
